<form action="/artists/results" method="post">
  <input type="text" name="artist-search" id="artist-search" placeholder="Search Artists">
  <button type="submit" name="button">SEARCH</button>
</form>
