<h1>Music List</h1>
<ul>
  @foreach(string music in Model)
  {
    <li>@music</li>
  }
</ul>
<p><a href="/">Add more music</a></p>
<form action="/music/list/clear" method="post">
  <button type="submit" name="button">Clear All Music!</button>
</form>
